img.logo
{
	display: block;
	margin: 0 auto;
	width: 12%;
	padding-bottom: 2%;
}

/* formulaire */
.form 
{
	display: block;
	border-style: solid;
	text-align: center;
	margin-left: 25%;
	margin-right:25%;
	padding: 0px 20px 50px 20px;
}

h1 
{
	font-family: Georgia;
	font-style: italic;
	font-size: 55px;
}
/* partie label */
.form-label 
{
	font-size: 30px;
	font-style: italic;
}

/* partie input */
.form input 
{
	margin-bottom: 8px;
}

.form-input
{
	border: 2px solid #d8b900;
	border-radius: 10px;
	width: 50%;
	padding: 10px 0px 10px 20px;
}

/* bouton envoyer */
.form input[type=submit]
{
	background-color: #70afee;
	border-radius: 10px;
	padding: 10px 50px 10px 50px;
	font-size: 20px;
}

p
{
	font-size: 20px;
}

.mdp
{
	font-size: 20px;
}
/* Responsive */
@media screen and (max-width: 1280px)
{
	img.logo
	{	
		display: block;
		margin: 0 auto;
		width: 30%;
		padding-bottom: 60px;
		padding-top: 100px;
	}
	.form
	{
		display: block;
		border-style: solid;
		text-align: center;
		margin: 0px 60px 50px 60px;
		padding: 30px 20px 50px 20px;
	}
}