/* Header */
header
{
	background-color: #d1fdfd;
	padding: 7px;
	height: 30%;
	padding-left: 60px;
}

.logo_gbaf
{
	float: left;
	width: 15%;
	height: 80%;
	margin-top: 1%;
}

.img_profil
{
	width: 40px;
	height: 40px;
	marg
 
}
.deco
{
	font-size: 20px;
	margin-left: 90%;
}
.membre
{
	font-size: 30px;
	margin-left: 87%;
	margin-top: 7%;
}